<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if(products.length> 0) {%>
                    <ul class="cart_item-list">
                        <% products.forEach(p=> { %>
                            <li class="cart__item">
                                <h1>
                                    <%= p.productId.title %>
                                </h1>
                                <h2>
                                    Quantity: <%= p.quantity %>
                                </h2>
                            </li>
                            <% }) %>
                                <div>
                                    <h2>
                                        Total: <%= totalSum %>
                                    </h2>
                                </div>
                                <div>
                                    <button id="order-btn" class="btn">ORDER</button>
                                    <script src="https://js.stripe.com/v3/"></script>
                                    <script>
                                        var stripe = Stripe('pk_test_51KvNYNBfkWBebjqCDHDxWpAxrQw5SIfyJIMcuth9WBKJDgDuEWx40K1PzpckL0QfHem1gZRMsYHrlLvcx2nZ6x6B00IllBG7M8')
                                        var orderBtn = document.getElementById('order-btn')
                                        orderBtn.addEventListener('click', function () {
                                            stripe.redirectToCheckout({
                                                sessionId: '<%= sessionId %>'
                                            })
                                        })
                                    </script>
                                </div>
                                <% } else { %>
                                    <h1>No Products to Checkout!</h1>
                                    <% } %>

            </main>

            <%- include('../includes/end.ejs') %>